<nav class="navbar navbar-default navbar-fixed-top">
    <span id="logo-IBM"><p><strong style="border-style: solid; border-color: rgb(3, 8, 6); margin: 10px;padding: 10px;border-radius: 10px;">Automation Travel Agency</strong></p></span>
    <ul class="nav  navbar-nav navbar-right nav-pills">
        <li><a href="dashboard.html" style="color: black;"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li><a href="#" style="color: black;"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
</nav>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="glyphicon glyphicon-th"></span>
                        Change password   
                    </h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box"> <br>
                           <img alt="" class="img-thumbnail" src="../../assets/images/male.svg">                        
                        </div>
                        <div style="margin-top:80px;" class="col-xs-6 col-sm-6 col-md-6 login-box">
                         <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                              <input class="form-control" type="password" placeholder="Current Password" #oldpassword>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                              <input class="form-control" type="password" placeholder="New Password" #newpassword>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6"></div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button class="btn icon-btn-save btn-success" type="submit" (click)="checkPassword(oldpassword,newpassword)">
                            <span class="btn-save-label"><i class="glyphicon glyphicon-floppy-disk"></i></span>SAVE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer-container">
<footer>
    <div class="social">
        <a href="#" class="fa fa-youtube" id="social-icon"style="color: rgb(255, 255, 255); "></a>
        <a href="https://github.com/saismaran98/eclipse-workspace" id="social-icon" target="_blank" class="fa fa-github" style="color: white;"></a>
        <a href="#" class="fa fa-linkedin" style="color: white;" id="social-icon"></a>
        <a href="#" class="fa fa-google-plus" aria-hidden="true" style="color: white;" id="social-icon"></a>
        <a href="#" class="fa fa-twitter" aria-hidden="true" style="color: white;" id="social-icon"></a>
    </div>
   
</footer>
</div>