

<!-- <form #adForm="ngForm" (ngSubmit)="onSubmit(adForm.value)" class="alignMiddle col-md-4 offset-md-4" novalidate>
    <br> -->
<form #userForm="ngForm" (ngSubmit)="onSubmit(name,street,location,city,state,pincode,mobile,license)" #adForm ngForm novalidate>


<div class="form-group">
<label>Name</label>
<input type="name" class="form-control col-md-4" name="name"  #name="ngModel" ngModel required  minlength="3" >
  <div *ngIf="name.errors && name.touched" class="alert alert-danger">
    <div [hidden]="!name.errors.required" class="alert alert-danger">
        Please enter name
    </div>
    <div [hidden]="!name.errors.minlength" class="alert alert-danger">
       Name should be minimum 3 characters long
    </div>
    </div>
</div>


<div class="form-group">
<label>Street</label>
<input type="street" class="form-control" name="street" #street="ngModel" ngModel required minlength="10">
<div *ngIf="street.errors && street.touched" class="alert alert-danger">
    <div [hidden]="!street.errors.required" class="alert alert-danger">
        Please enter valid street
    </div>
    <div [hidden]="!street.errors.minlength" class="alert alert-danger">
        street should be minimum 10 characters long
    </div>
</div>
</div>


<div class="form-group">
<label>Location</label>
<input type="location" class="form-control" name="location" #location= "ngModel" ngModel required  minlength="10" >
<div *ngIf="location.errors && location.touched" class="alert alert-danger">
    <div [hidden]="!location.errors.required" class="alert alert-danger">
        Please enter valid location
    </div>
    <div [hidden]="!location.errors.minlength" class="alert alert-danger">
        location should be minimum 10 characters long
    </div>
</div>
</div>


<div class="form-group">
<label>City</label>
<input type="city" class="form-control" name="city" #city="ngModel" ngModel required  minlength="5" >
<div *ngIf="city.errors && city.touched" class="alert alert-danger">
    <div [hidden]="!city.errors.required" class="alert alert-danger">
        Please enter valid city
    </div>
    <div [hidden]="!city.errors.minlength" class="alert alert-danger">
        city should be minimum 4 characters long
    </div>
</div>
</div>


<div class="form-group">
<label>State</label>
<input type="state" class="form-control" name="state" #state="ngModel" ngModel required  minlength="5">
<div *ngIf="state.errors && state.touched" class="alert alert-danger">
    <div [hidden]="!state.errors.required" class="alert alert-danger">
        Please enter valid state
    </div>
    <div [hidden]="!state.errors.minlength" class="alert alert-danger">
        state should be minimum 10 characters long
    </div>
</div>
</div>


<div class="form-group">
<label>PinCode</label>
<input type="pincode" class="form-control" name="pincode" #pincode="ngModel" ngModel required  minlength="6" maxlength="6" >
<div *ngIf="pincode.errors && pincode.touched" class="alert alert-danger">
<div [hidden]="!pincode.errors.required " class="alert alert-danger">
    Please enter valid pincode
</div>
<div [hidden]="!pincode.errors.minlength " class="alert alert-danger">
    pincode should be 6 characters long
</div>
<div [hidden]="!pincode.errors.maxlength" class="alert alert-danger">
    pincode should be 6 characters long
</div>
</div>
</div>


<div class="form-group">
<label>Mobilenumber</label>
<input type="mobilenumber" class="form-control" name="mobilenumber" #mobile="ngModel" ngModel required minlength="6"  maxlength="10" >
<div *ngIf="mobile.errors && mobile.touched" class="alert alert-danger">
<div [hidden]="!mobile.errors.required" class="alert alert-danger">
    Please enter valid mobilenumber
</div>
<div [hidden]="!mobile.errors.minlength " class="alert alert-danger">
    mobilenumber should be 10 characters long
</div>
<div [hidden]="!mobile.errors.maxlength " class="alert alert-danger">
    mobilenumber should be 10 characters long
</div>
</div>
</div>


<div class="form-group">
<label>LicenseNumber</label>
<input type="licencenumber" class="form-control" name="licensenumber" #license="ngModel" ngModel required minlength="10" maxlength="10" >
<div *ngIf="license.errors && license.touched" class="alert alert-danger">
<div [hidden]="!license.errors.required" class="alert alert-danger">
    Please enter valid licencenumber
</div>
<div [hidden]="!license.errors.minlength" class="alert alert-danger">
    licencenumber should be 10 characters long
</div>
<div [hidden]="!license.errors.maxlength" class="alert alert-danger">
    licencenumber should be 10 characters long
</div>
</div>
</div>


<div class="form-group">
    <button [disabled]="!adForm.form.valid" type="submit" class="btn btn-primary"></button>

</div>
</form>
<!-- </form> -->





 