
body
{
    font-family:sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://besthqwallpapers.com/Uploads/5-10-2016/8932/travel-summer-travel-to-cars-beach.jpg");
}

button{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

button{
    background: none;
    color:#ccc;
    width:240px;
    height:80px;
    border:1px solid #338033;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}

button:focus{
    outline:none;
}

button:before
{
    content:'';
    display:block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width:60px;
    height:100%;
    left:0;
    top:0;
    opacity:.5s;
    filter:blur(30px);
    transform:translateX(-130px) skewX();
}

button:after
{
    content:'';
    display:block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width:30px;
    height:100%;
    left:0;
    top:0;
    filter:blur(30px);
    transform:translateX(-100px) scaleX(-15deg);
}

button:hover{
    background: #338033;
}

button:hover::before{
    transform: translateX(300px) skew(-15deg);
    opacity:.6;
    transition: .7s;
}