<html>
    <head>
<title>Travel Automatic Agency</title>
<link rel="stylesheet" href="homepage.component.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="logo">
      <img src="../../assets/images/logo_transparent.png">
    </div>
    <div class="wrapper">
      <div class="btn">
        <button type="button">GET STARTED</button> 
      </div>
</div>
</body>
</html>