
<html>
<head>
	<title>Animated Login Form</title>
	<link rel="stylesheet" type="text/css" href="login.component.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="poster">
	<h1>IBM Travel Agency</h1>
</div>
	<div class="container">
		<div class="img">
			<img src="../../assets/images/avatar-travel.svg">
		</div>
		<div class="login-content">
			<form action="login.component.html">
				
				<img src="../../assets/images/avatar.svg">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<!--<h5>Username</h5>-->
           		   		<input type="text" class="form-control" placeholder="Email-id" #emailId >
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<!--<h5>Password</h5>-->
           		    	<input type="password" class="form-control" placeholder="password" #password>
            	   </div>
            	</div>
            	<a href="#">Forgot/Change Password?</a>
            	<input type="submit" (click)="checkLogin(emailId,password)" class="btn" value="Login">
             <div class="SignUp">
                <div class="signUpMsg">
                  
                </div>
              <h5>Dont have an account?</h5><span id="signup"><button type="button" class="btn btn-info" onclick="signUP()">SignUp</button></span>
              <!-- <button type="button" class="btn btn-info" onclick="signUP()">SignUp</button> -->
            </div>
            </form>

        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>