<div id="navigation">
    <nav class="navbar navbar-default navbar-fixed-top">
          <span id="logo-IBM"><p><strong style="border-style: solid; border-color: rgb(3, 8, 6); margin: 10px;padding: 10px;border-radius: 10px;">Automation Travel Agency</strong></p></span>
          <ul class="nav  navbar-nav navbar-right nav-pills">
              <li><a href="dashboard.html" style="color: black;"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
              <li><a href="#" style="color: black;"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
      </nav>
  </div>
  <div id="bg-img" class="view">
      <div class="ful-bg-img"></div>
  </div>
  <img id="top-image" src="images/car-funny1.svg"> 
  
  <div class="container">
      
       <div id="welcome">
          <img src="../../assets/images/vehicle-list.svg" id="vehicle-list" alt="">  <h1 id="page-title">Route List</h1>
        </div>
      <div id="funny-car">
          <img id="top-image2" src="../../assets/images/undraw_toy_car_7umw.svg" style="height:100px">
      </div>
      <div class="row">
          <div class="col-xs-12">
              <div class="table-responsive">
                  <table class="table table-bordered table-hover table-responsive">
                      <thead>
                          <tr >
                              <th>ID</th>
                              <th>Source</th>
                              <th>Destination</th>
                              <th>Distance</th>
                              <th>Travel Duration</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let ele of route">
                                      <td>{{ele.routeId}}</td>
                                      <td>{{ele.source}}</td>
                                      <td>{{ele.destination}}</td>
                                      <td>{{ele.distance}}</td>
                                      <td>{{ele.travelDuration}}</td>                                  
                          </tr>
                      </tbody>
                  </table>
                  
              </div>
          </div>
      </div>
      <br><br><br><br><br><br><br><br>
      <div>
        <form #addForm="ngForm" (ngSubmit)="onSubmit(source,destination,distance,time)" class="alignRight col-md-6 offset-md-6" novalidate>
            <h1>Add Route</h1>
        <br>
        <div class="form-group">
        <input type='text' name="source" class="form-control" placeholder="Enter Source" #source="ngModel" required minlength="3" maxlength="20" ngModel>
        <div *ngIf="source.errors && source.touched" class="alert alert-danger">
         <div [hidden]="!source.errors.required" class="alert alert-danger">
         Please Enter Source
         </div>
         <div [hidden]="!source.errors.minlength" class="alert alert-danger">
           Destination should be minimum 3 characters long 
        </div>
        <div [hidden]="!source.errors.maxlength" class="alert alert-danger">
           Destination should be maximum 20 characters long 
          </div>
        </div>
        </div>
        <div class="form-group">
        <input type='text' name="destination" class="form-control" placeholder="Enter Destination" #destination="ngModel" required minlength="3" maxlength="20" ngModel>
        <div *ngIf="destination.errors && destination.touched" class="alert alert-danger">
         <div [hidden]="!destination.errors.required" class="alert alert-danger">
         Please Enter Destination
         </div>
         <div [hidden]="!destination.errors.minlength" class="alert alert-danger">
         Destination should be minimum 3 characters long 
        </div>
        <div [hidden]="!destination.errors.maxlength" class="alert alert-danger">
           Destination should be maximum 20 characters long 
          </div>
        </div>
        </div>
        <div class="form-group">
        <input type='number' name="distance" class="form-control" placeholder="Enter the distance " #distance="ngModel" required ngModel>
        <div *ngIf="distance.errors && distance.touched" class="alert alert-danger">
        <div [hidden]="!distance.errors.required" class="alert alert-danger">
        Please Enter Distance
        </div>
        </div>
        </div>
        <div class="form-group">
        <input type='number' name="time" class="form-control" placeholder="Enter TravelDuration in Hours" #time="ngModel" required ngModel>
        <div *ngIf="time.errors && time.touched" class="alert alert-danger">
        <div [hidden]="!time.errors.required" class="alert alert-danger">
        Please Enter TravelDuration in Hours
        </div>
        
        </div>
        </div>
        
        
        <button [disabled]="!addForm.form.valid" type="submit" class="btn btn-primary">Add Details</button>
        <br><br><br><br><br><br><br>
        
        <div class='table-responsive'>  
            <table class='table'>  
                <thead>  
                    <tr>  
                      <th>ID</th>
                      <th>Source</th>
                      <th>Destination</th>
                      <th>Distance</th>
                      <th>Travel Duration</th>
                    </tr>  
                </thead>  
                <tbody>  
                  <tr *ngFor="let ele of route">
                    <td>{{ele.routeId}}</td>
                    <td>{{ele.source}}</td>
                    <td>{{ele.destination}}</td>
                    <td>{{ele.distance}}</td>
                    <td>{{ele.travelDuration}}</td>                                  
                  </tr>  
                </tbody>  
            </table>  
        </div>  
        </form>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div>
            <form #updateForm="ngForm" (ngSubmit)="updateRoute(id,source,destination,distance,time)" class="alignRight col-md-6 offset-md-6" novalidate>
                <h1>Update Route</h1>
            <br>
            <div class="form-group">
            <input type='text' name="source" class="form-control" placeholder="Enter Source" #source="ngModel" required minlength="3" maxlength="20" ngModel>
            <div *ngIf="source.errors && source.touched" class="alert alert-danger">
             <div [hidden]="!source.errors.required" class="alert alert-danger">
             Please Enter Source
             </div>
             <div [hidden]="!source.errors.minlength" class="alert alert-danger">
               Destination should be minimum 3 characters long 
            </div>
            <div [hidden]="!source.errors.maxlength" class="alert alert-danger">
               Destination should be maximum 20 characters long 
              </div>
            </div>
            </div>
            <div class="form-group">
            <input type='text' name="destination" class="form-control" placeholder="Enter Destination" #destination="ngModel" required minlength="3" maxlength="20" ngModel>
            <div *ngIf="destination.errors && destination.touched" class="alert alert-danger">
             <div [hidden]="!destination.errors.required" class="alert alert-danger">
             Please Enter Destination
             </div>
             <div [hidden]="!destination.errors.minlength" class="alert alert-danger">
             Destination should be minimum 3 characters long 
            </div>
            <div [hidden]="!destination.errors.maxlength" class="alert alert-danger">
               Destination should be maximum 20 characters long 
              </div>
            </div>
            </div>
            <div class="form-group">
            <input type='number' name="distance" class="form-control" placeholder="Enter the distance " #distance="ngModel" required ngModel>
            <div *ngIf="distance.errors && distance.touched" class="alert alert-danger">
            <div [hidden]="!distance.errors.required" class="alert alert-danger">
            Please Enter Distance
            </div>
            </div>
            </div>
            <div class="form-group">
            <input type='number' name="time" class="form-control" placeholder="Enter TravelDuration in Hours" #time="ngModel" required ngModel>
            <div *ngIf="time.errors && time.touched" class="alert alert-danger">
            <div [hidden]="!time.errors.required" class="alert alert-danger">
            Please Enter TravelDuration in Hours
            </div>
            
            </div>
            </div>
            
            
            <button [disabled]="!updateForm.form.valid" type="submit" class="btn btn-primary">Add Details</button>
            <br><br><br><br><br><br><br>
              
            </form>
        </div>
      </div>
  </div>
  
  
  <div id="footer-container">
  <footer>
          <div class="social">
              <a href="#" class="fa fa-youtube" id="social-icon"style="color: rgb(255, 255, 255); "></a>
              <a href="https://github.com/saismaran98/eclipse-workspace" id="social-icon" target="_blank" class="fa fa-github" style="color: white;"></a>
              <a href="#" class="fa fa-linkedin" style="color: white;" id="social-icon"></a>
              <a href="#" class="fa fa-google-plus" aria-hidden="true" style="color: white;" id="social-icon"></a>
              <a href="#" class="fa fa-twitter" aria-hidden="true" style="color: white;" id="social-icon"></a>
          </div>
         
  </footer>
  </div>
      
  