      <div class="row">
          <div class="col-xs-12">
              <div class="table-responsive">
                  <table class="table table-bordered table-hover table-responsive">
                      <thead>
                          <tr >
                              <th>ID</th>
                              <th>Source</th>
                              <th>Destination</th>
                              <th>Distance</th>
                              <th>Travel Duration</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let ele of route-list">
                                      <td>{{ele.routeId}}</td>
                                      <td>{{ele.source}}</td>
                                      <td>{{ele.destination}}</td>
                                      <td>{{ele.distance}}</td>
                                      <td>{{ele.travelDuration}}</td>                                  
                          </tr>
                      </tbody>
                  </table>
                  
              </div>
          </div>
      </div>
      <br><br><br><br><br><br><br><br>
      <div>
        
            
  
  <div id="footer-container">
  <footer>
          <div class="social">
              <a href="#" class="fa fa-youtube" id="social-icon"style="color: rgb(255, 255, 255); "></a>
              <a href="https://github.com/saismaran98/eclipse-workspace" id="social-icon" target="_blank" class="fa fa-github" style="color: white;"></a>
              <a href="#" class="fa fa-linkedin" style="color: white;" id="social-icon"></a>
              <a href="#" class="fa fa-google-plus" aria-hidden="true" style="color: white;" id="social-icon"></a>
              <a href="#" class="fa fa-twitter" aria-hidden="true" style="color: white;" id="social-icon"></a>
          </div>
         
  </footer>
  </div>
      
  

