

<div id="navigation">
   
    <nav class="navbar navbar-default navbar-fixed-top">
        <span id="logo-IBM">IBM Travel Agency</span>
		<ul class="nav  navbar-nav navbar-right nav-pills">
			<li><a href="dashboard.html"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		</ul>
    </nav>
    </div>
<div id="img-calander">
    <div id="main">
<img src="../../assets/images/cal1.svg" title="BOOKING DATE" id="cal-1" alt="">
<h2>BOOKING DATE</h2>
<div  id="container">
<form>
    <img src="../../assets/images/cal3.svg" title="BOOKING DATE" id="cal-3" alt="">
    <img src="../../assets/images/cal2.svg" title="BOOKING DATE" id="cal-2" alt="">
<div class="form-group">
<label for="dateOfJourney">SELECT JOURNEY DATE: </label>
<input type="date" class="form-control" placeholder="Enter date" id="dateOfJourney" />
</div>

</form>
</div>
</div>
</div>

<div id="footer-container">
<footer>
    <a href="#">About: This is some random lines &nbsp;</a>
    <div class="social">
        <a href="#" class="fa fa-youtube" id="social-icon"style="color: rgb(255, 255, 255); "></a>
        <a href="https://github.com/saismaran98/eclipse-workspace" id="social-icon" target="_blank" class="fa fa-github" style="color: white;"></a>
        <a href="#" class="fa fa-linkedin" style="color: white;" id="social-icon"></a>
    </div>
    <p>@IBM Travel Corporation</p>
</footer>
</div>
