<div class ="container">
    <form>
    <h1>Register Yourself</h1>
    <br/>
   <h3> Login As:</h3> <button  class="btn2"> Customer </button>
        <h3 class="register-heading">Register as a Administrator</h3>
        <div class="form-group form">
             <label for="uname" ><h5>First Name :</h5></label>
             <input  type="text" class="form-control col-md-4" #firstName placeholder="Enter title " required>
       </div>
   
        <div class="form-group form">
           <label for="uname" ><h5>Last Name:</h5></label>
           <input type="text" class="form-control col-md-4" #lastName placeholder="Enter Name" name="lastname" required>
       </div> 
        <div class="form-group form">
            <label for="uname" ><h5>Email Id:</h5></label>
            <input type="text" class="form-control col-md-4" #emailId required>
        </div>
        <div class="form-group form">
            <label for="uname" ><h5>Password:</h5></label>
            <input type="password" class="form-control col-md-4" #password required>
        </div> 
        <br/><br/>
            <div class="btn-group" style="align-self: center;">
                <button  class="btn1"> Cancel</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button  class="btn1" (click)="setAdmin(firstName,lastName,emailId,password)" >Register</button>
            </div>
            <br><br>
             <h2>Already Registered</h2>
          <button  class="btn2"> Login </button>     
          {{newAdmin|json}}
    </form>

</div>
<div id="footer-container">
<footer>
    <a href="#">About: This is some random lines &nbsp;</a>
    <div class="social">
        <a href="#" class="fa fa-youtube" id="social-icon"style="color: rgb(255, 255, 255); "></a>
        <a href="https://github.com/saismaran98/eclipse-workspace" id="social-icon" target="_blank" class="fa fa-github" style="color: white;"></a>
        <a href="#" class="fa fa-linkedin" style="color: white;" id="social-icon"></a>
    </div>
    <p>@IBM Travel Corporation</p>
</footer>
</div>