nav ul{
    margin-right: 5px;
}

nav li{
    background-color: rgb(4, 53, 61);
    border-radius: 5px; 
    margin:1px 25px;

}
nav{
    /* background-color: rgb(88, 177, 144); */
    background-color: rgb(4, 53, 61);
}
a:hover{
	transform: scale(1.1);
}
nav a{
    background-color:  rgb(4, 53, 61);
}
#register-btn{
    margin-left: 20px;
    border-radius: 5px;
}
#cancel-btn{
    border-radius: 5px;
}
#footer-container{
    background-color:rgb(25, 80, 42);
    height: 50px;
    width: 100%;
    padding: 90px;
    transform: translateY(px);
    position: absolute;
}
p{
    margin-left: 60px;
    transform: translateY(25px);
}
a{
    transform: translateY(-10px);
    
}
:hover a{
    background-color: rgba(60, 148, 148, 0.534);
}
footer{
	position: relative;
    align-items: center;

}
footer p{
	font-family: calibri;
	font-weight: bold;
	justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    
	
}
footer p:nth-child(1){
	font-weight: bold;
	color: #070303;
	line-height: 10px;
	align-items: center;

}
a{
    transform: translateY(-20px);
    
}
#color-div{
    background-color: rgb(227, 236, 245);
    margin-top:-30px;
    padding:10%;
    width: 100%;

    height: 72.2vh;
}
footer .social a{
    border:1px;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    margin-right: 15px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    background-color: rgb(89, 112, 86);
    transform: translate(580px,-15px);
} 

#footer-text{
    text-align: center;
    transform: translateY(60px);
}
#footer-container{
    background-color:rgb(25, 80, 42);
    height: 50px;
    width: 100%;
    padding: 90px;
    transform: translateY(px);
    position: absolute;
}
.container{
    background-color: rgb(227, 236, 245);
    margin-top:-30px;
    padding:60px;
    width: 100%;
    height: 72.2vh;

}
h1{
    margin-left: 600px;
    transform: translateY(-20px);
}
#form-register{
   margin-left: 600px;
    padding :5px;
    width: 20%;
    /* transform: translateY(-20px); */
}
form{
    transform: translateY(-250px);
}
#img-1{
    height: 250px;
    overflow: hidden;
    transform: translate(20px,50px);
}